.WMdmwdapwlumZGwr8TTB {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: "PT Sans", sans-serif;
  background-size: 40%;
}
.ZJbWF7XxY0xuTml0uCUb {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  background-color: #f4c430;
  border-radius: 6px;
}
.Zib1IYhQwPri5brlyK_Q {
  margin-bottom: 50px;
  width: 500px;
  height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  border-radius: 3px;
  padding: 10px;
}

/* .NextPage {
  text-decoration: none;
  margin: 30px 10px 20px 20px;
  width: 20%;
  text-align: center;
  padding-top: 5px;
  border-radius: 3px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.8);
} */
.kejy4WLgv__2XA6JoVqs {
  display: flex;
  width: 100%;
}

.LDjvs9jxHb6kggxfjR0Q {
  /* font-family: "PT Sans", sans-serif; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}
.fcYtM2iT5ZqRklNL3s5o {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  background-color: #f4c430;
  margin-bottom: 10px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
  border: white 3px solid;
}
.OZrTmPXfdRy_ZxgVbZZ3,
.c3Gc8WAfebBIsbVWArgM {
  display: none;

  font-weight: 800;
}
.c3Gc8WAfebBIsbVWArgM {
  color: red;
  display: flex;
}

.DblXTHGnfaN1hF8uHrh3 {
  color: red;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 30px;
  width: 100%;
  text-align: center;
}
.b6jiuCukvukFxvykN2Oc {
  visibility: hidden;

  height: 50px;
}
.aXncmV_5FMxa4Iqn3Qyw {
  word-break: break-all;
  overflow-wrap: break-word;
}

@media (max-width: 600px) {
  .uSYwysDHkgX_CUmDnmjr {
    width: 50%;
  }
  .DblXTHGnfaN1hF8uHrh3 {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  .ZJbWF7XxY0xuTml0uCUb {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .uSYwysDHkgX_CUmDnmjr {
    width: 50%;
  }
  .wmrf28q7hUZHuGBv3XAU {
    word-break: break-all;
    overflow-wrap: break-word;
    text-align: center;
  }
}

.LWVtBcQ3JF4OKdyTkPBl{
    display: flex;
    flex-wrap:wrap;
    margin-top:0px;
    margin-bottom:50px;
    box-sizing:border-box;
    width:90%;
    height:90px;
    position:relative;
  }
  .xNV798bpW9ejucPnoDPw{
    width:100%;
    display: flex;
    flex-wrap:wrap;
    height:60%;
}
.TF2NktntZOrUnDRXm1zE{
  display: flex;
  font-size: 16px;
  font-weight: 800;
  margin-top: 10px;

}
.hxVBD6XnFZRu66rDERL4{

  display: none;
}
    .cvDVTVJ5TNHTYsHvY_GX, .TOLN7WLpdMZ_oVbU8QO1, .pQJ1CIunOJFCqOz7ivo_, .F4OJNRzUaVVDffNDVF0w {
        width:100%;
        height:80%;
        margin:0px;
        padding: 0px;
        border-radius: 3px;
        border-style:groove;
        border-color:gray;
        border-style:double;
        box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.8);
      }
      .pQJ1CIunOJFCqOz7ivo_, .F4OJNRzUaVVDffNDVF0w {
        border: 3px red solid;
      }
      .MKH13CtJzU0GiyLc_j7n{
        font-weight: 800;
       

      }
      .MdQN29tkLGYmBAhBxg3Y{
        position:absolute;
        left:20px;
        bottom: -10px;
        color:darkred;
        font-weight: 800;

      }
      .Zejoq1wIz97j5tTGTeSa{
        display: none;
      }
      
      @media (max-width: 520px) {
        .MdQN29tkLGYmBAhBxg3Y{
          right:260px;
        }
      }
      @media (max-width: 480px) {
        .MdQN29tkLGYmBAhBxg3Y{
          right:240px;
        }
      }
      @media (max-width: 440px) {
        .MdQN29tkLGYmBAhBxg3Y{
          right:220px;
        }
      }
      @media (max-width: 400px) {
        .MdQN29tkLGYmBAhBxg3Y{
          right:200px;
        }
      }
      @media (max-width: 360px) {
        .MdQN29tkLGYmBAhBxg3Y{
          right:140px;
        }
      }
.jXZbcJPrAGxFST9joCWa {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    box-sizing:border-box;
    flex-wrap: wrap;
  }
  
  .k8GfJGmCb0acZDHfU3JQ {
    text-decoration: none;
    padding: 10px;
    color:white;
    width: 40px;
    height:40px;
    background-color: black;
    border-radius:50%;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-weight: 800;
  }
  .phEhhJ5Rfn8NjbbMmb4W {
    text-decoration: none;
    padding: 10px;
    width: 40px;
    height:40px;
    border-radius:50%;
    color:white;
    background-color: orange;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-weight: 800;
  }
  .ru1rJNNb4kaOOOWdcNyY{
    
    text-decoration: none;
    color:white;
    margin-left:5px;
    padding: 10px;
    background-color: black;
    width: 90px;
    height:40px;
    border-top-left-radius:40%;
    border-bottom-left-radius:40%;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
    font-weight: 800;
  }
  .nQbdGdxmG4h_St5jYwYg{
    
    text-decoration: none;
    margin-left:20px;
    padding: 10px;
    background-color: black;
    color:white;
    width: 90px;
    height:40px;
    border-top-right-radius:40%;
    border-bottom-right-radius:40%;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
    font-weight: 800;
  }
  
  @media (max-width: 580px) {
    .ru1rJNNb4kaOOOWdcNyY, .nQbdGdxmG4h_St5jYwYg{
      width:100%;
      border-radius:5px;
      margin-left:50px ;
      margin-right:50px  ;
      margin-top:50px ;
      margin-bottom:50px  ;
      text-align: center;
    }
    
  
  }
.D8ld5e7tprdqTrxXI28M {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px dashed black;
    animation: KXfiwO_rf7kSkUM_5bZp 1s infinite linear;
    margin: auto;
    margin-top: 200px;
  }
  
  @keyframes KXfiwO_rf7kSkUM_5bZp {
    from {
      transform: rotate(0deg) scale(1);
    }
    to {
      transform: rotate(360deg) scale(1.5);
    }
  }
.d8SYLyQcKLnmCLovWAmw {
  text-decoration: none;
  margin: 30px 10px 20px 20px;
  width: 30%;
  text-align: center;
  padding-top: 5px;
  border-radius: 3px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.8);
  }
  @media (max-width: 450px) {
    .d8SYLyQcKLnmCLovWAmw {
      font-size: 10px;
      width: 40%;
    }
  }
.OysqU8PezdlxOE4JtCuF {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "PT Sans", sans-serif;
    background-size:40%
  
  }
  .HI5LL6VvDtWUCDnB7LIw {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height:650px;
    justify-content: center;
    align-content: center;
    background-color:  #F4C430;
    border-radius:6px;
  }
  .b5Gjy75jMOInYuOCy9NC{
    margin-bottom:50px;
    width: 500px;
    height: 50px;
    text-align: center;
    font-weight: 700;
    font-size:20px;
    border-radius:3px;
    padding:10px;
  }
  

  
          .OKOyzIbi_0qAaZtmviVl {
            /* font-family: "PT Sans", sans-serif; */
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 10px;
          }
          .IPcM9Z7A7MLUgpY7Xo2d{
            text-decoration: none;
            font-family: "PT Sans", sans-serif;
            background-color:  #F4C430;
            margin-bottom: 10px;
            font-weight: 400;
            color: white;
            cursor: pointer;
            border-radius:  3px;
            padding:5px;
            border: white 3px solid;
           
           
          }
          .H2Cw28BlrMz7asJBVhf_, .CxHvd_oR_26X3J09YJvA{

            display: none;
           
            font-weight: 800;
           
          }
          .CxHvd_oR_26X3J09YJvA{
          color:  red;
            display: flex;
      justify-content: center;
            width:100%;
          }
  
  
          @media (max-width: 450px) {
            ._iIF1FoWt5Ngw6LfHNDQ{
              width:100%;
            }
          }
.wRrWKVbBQV8k1KLd9A0o {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "PT Sans", sans-serif;
  background-size: 40%;
}
.l0jKaMXHo8YYqTI16VT_ {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 1050px;
  justify-content: center;
  align-content: center;
  background-color: blueviolet;
  border-radius: 6px;
}
.B1SWG2xxwJpG8bV_f6kT {
  margin-bottom: 50px;
  width: 500px;
  height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  border-radius: 3px;
  padding: 10px;
}

.h7VPBlgIfEFbVRbKeIUH {
  text-decoration: none;
  margin: 30px 50px 30px 50px;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  border-radius: 3px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.8);
}
.WcelBQ39aWalOMQSFXz5,
.f6izMwovA0yBgsab3j33 {
  display: none;

  font-weight: 800;
}
.f6izMwovA0yBgsab3j33 {
  color: black;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 450px) {
  .Fl1tTq02F28UdZhvPW3H {
    width: 100%;
  }
}

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
}
